@page "/author/{author}/following"
@model Chirp.Web.Pages.FollowingAuthorsModel

@using Microsoft.AspNetCore.Identity
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's followed Users </h2>

    @if (Model.Authors.Any())
    {
        <ul id="messagelist" class="authors">
            @foreach (var aut in Model.Authors!)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/author/@aut.Name">@aut.Name</a>
                        </strong>
                    </p>
                </li>
            }
        </ul>
    }

</div>
