@page "/MyPage"
@model MyPageModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> My page </h2>

    <div>
        <dl>
            <div class="pink-back">
                <dt class="bodyText">
                    Username
                </dt>
                <dd>
                    @Model.UserName
                </dd>

            </div>
            <div class="pink-back">
                <dt class="bodyText">
                    E-mail
                </dt>
                <dd>
                    @Model.Email
                </dd>

            </div>

        </dl>

    </div>


    <p> <em>

            Want to delete account?

            <br>

            Your account will no longer be accessible.

        </em>


    </p>

    <form asp-page-handler="delete" method="post">
        <button type="submit" class="forget">Forget me!</button>
    </form>


</div>