@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Chirp! does not save any information that you don't directly give us
With the exception of information used to authorize your account with other websites, Chirp! only distributes information to users of Chirp!
Chirp! is not responsible for any personal information that is posted in the form of Cheeps.account
Chirp! does not save any information on deleted users, in accordance with the General Data Protection Regulation (GDPR) of the EU</p>
