@page "/author/{author}"
@model Chirp.Web.Pages.PublicTimeline

@using Microsoft.AspNetCore.Identity
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}


<!-- 
This page displays the User timeline when the user is signed in.
Here the user is able to view other people's timelines as well as be able to follow/unfollow the certain user.
-->

<div>
    @if (await Model.IfAuthorExists(Model.Author))
    {
        <h2> @routeName's Timeline </h2>

        @if (SignInManager.IsSignedIn(User) && Model.Author != User!.Identity!.Name)
        {
            <form asp-page-handler="update">
                @if (await Model.IfFollowExists(Model.Author))
                {
                    <button type="submit" name="follow" value=@routeName>Unfollow</button>

                }
                else
                {

                    <button type="submit" name="follow" value=@routeName>Follow</button>
                }
            </form>
        }
        <partial name="_TimelinePartial" />
    }
    else
    {
        <h2> @routeName does not exist </h2>
    }
</div>
