@page "/"

@using Microsoft.AspNetCore.Identity
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager

@model TimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    @if (SignInManager.IsSignedIn(User)){

    <form asp-page-handler="Delete" method="post">
        <button type="submit">Delete</button>
    </form>
    }
    
    <h2> Public Timeline </h2>

    <partial name="_TimelinePartial" />
</div>
