@page "/author/{author}"
@model Chirp.Authentication.Pages.TimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>

        <form asp-page-handler="update">
             <button type= "submit" name="follow" value= @routeName >Follow</button>
        </form>

   <partial name="_TimelinePartial" />
</div>
