@page "/author/{author}"
@model Chirp.Authentication.Pages.TimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>

   <partial name="_TimelinePartial" />
</div>
