@model Chirp.Web.Pages.AuthorsModel

<head>
    <title>Title of the document</title>
    <style>
    ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
    </style>
</head>

@if (Model.Authors.Any())
{
    <ul id="messagelist" class="authors">
        @foreach (var aut in Model.Authors!)
        {
            <li>
                <p>
                    <strong>
                        <a href="/author/@aut.Name">@aut.Name</a>
                    </strong>
                </p>
            </li>
        }
    </ul>
    @if (Model.hasPage || Model.PageInt == 0)
    {
        <div class="paging">
            @for (var i = 1; i <= Model.Pages + 1; i++)
            {
                @if (i == Model.PageInt + 1)
                {
                    <a class="active" href="?page=@(i)">@(i)</a>
                }
                else
                {
                    <a href="?page=@(i)">@(i)</a>
                }

            }
        </div>
    }
}   
else
{
    <em>There are no authors here.</em>
}