<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/favicon/favicon.ico">
    @using Microsoft.AspNetCore.Identity
    @inject SignInManager<Author> SignInManager
    @inject UserManager<Author> UserManager

</head>

<body>
    <div class=page>
        <h1><img src="/images/icon1.png" alt="Icon1" />Chirp!</h1>
        <div class=navigation>
            @if (SignInManager.IsSignedIn(User))
            {
                <div>
                    <a href="/">Public timeline</a> |
                    <a href="/author/@(User.Identity!.Name)">My timeline</a> |
                    <a href="/following">My followed</a> |
                    <a href="/MyPage/@(User.Identity.Name)">My Page</a> |
                    <a asp-area="Identity" asp-page="/Account/Logout"
                        asp-route-returnUrl="@Url.Page(" / ", new { area = "" })" method="post">Logout</a>
                </div>
            }
            else
            {
                <div>
                    <a href="/">Public timeline</a> |
                    <a asp-area="Identity" asp-page="/Account/Register">Register</a> |
                    <a asp-area="Identity" asp-page="/Account/Login">Login</a> |
                </div>

            }

        </div>

        <div class="body">
            @RenderBody()
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; Chirp - An ASP.NET Application - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>

        @await RenderSectionAsync("Scripts", required: false)

    </div>
</body>

</html>